[user] 
    name = Kyehwan Lee
    email = kyehwanl@nist.gov
[merge]
    tool = vimdiff
[color]
    status = auto
    branch = auto
    interactive = auto
    diff = auto
    ui = true
[alias]
    show-graph = log --graph --abbrev-commit --pretty=oneline
    lgodb = log --graph --oneline --decorate --branches
    ll = log --graph --oneline --decorate --branches
    la =  log --color --graph --branches --decorate --pretty=format:'%Cred%h%Creset %C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    st = status
    ci = commit
    co = checkout
    br = branch
[gui]
	recentrepo = /users/kyehwanl/proj-bgp/extras/srxcryptoapi
[http]
	sslVerify = false
